* {
font-family: "Inter", sans-serif;
margin: 0;
box-sizing:border-box;
width: 100%;

}

body{

margin-top: 10px;
background-image: url(./image/background.jpg);
background-size: cover;

background-repeat: no-repeat;
font-family: Inter, sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
}

#try_again, .begin-start, .button-word {
  
    display: flex;
    justify-content: center;
}


/*-- mobile first*/



#container {
    text-align: center;
  
}

#begin h1 {
    padding: 2rem  0;
    color:hsl(210, 40%, 98%) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}


#begin h2 {
    padding-bottom: 7rem;
 
}


#begin a, #begin button, #new_word,.new_game, .game_over, .button-word button{
    box-shadow: 0px 2px 8px rgb(173, 81, 16); 
    border-radius: 5px;
    border: 2px solid rgb(173, 81, 16); 
    background-color: #599baf;
    color: #fafafa;
    font-weight: 600;
    padding: 7px;
    cursor: pointer;
    text-decoration: none;  
        
}

#add_word {
    display: flex;
    
}


#begin a:hover, #begin button:hover, #try_again button:hover, .button-word button:hover {
    transform: scale(1.1);
   border: rgb(248, 246, 245); 
    
}



/*kEYBOARD */
.keyboard_key button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgb(198, 87, 8);
    border-radius: 5px;
    border: 2px solid rgb(198, 87, 8); 
    color:rgb(14, 133, 219);
    font-family: Inter;
    font-weight: 900;
}

.keyboard_key button:hover {
    transform: scale(1.3);
    
}

/*FOOTER */



#footer {
    padding-top: 2rem;
    margin-bottom:0;
    background-color: #0b5b69;
    width: 100%;
    margin-top: 5rem;
      
}

#footer p {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(250, 200, 166);
    width: 100%;

}

#footer a {
    text-decoration: none;
    font-family: .8rem;
}


#footer img {
    width: 30px;
    padding-top: 0.5rem; 
}

#footer h5 {
    color:rgb(246, 221, 204);
    font-size: .7rem;
}

#footer h6 {
    color: #e7f4fc;  
    padding-top: .5rem;
    font-size: .7rem;
}


@media (min-width: 321px) {

    header {
        display: flex;

        
    }
    .image-header img {
        width: 80px;
        height: 80px;
        margin-left: 1rem;
    }

    audio {
    width: 35%;
    margin-top: 1rem;
    margin-right: 2%; 
    padding: .3rem;
    }

    #begin h1 {
        font-size: 2rem;
    }

    #begin h2 {
        font-size: 1rem;
        color:hsl(30, 59%, 93%);
    }


    #begin a, #begin button, #new_word,.new_game, .game_over, .button-word button {
        font-size: 0.7rem;
        width: 40%;
        padding: .5rem;
        margin-top: 1rem;
    }

    .text-input  {
       top: 200px;
       font-weight: 00;
       font-size: .8rem;
       width: auto;
       height: auto;  
        
    }

    
    #footer p {
        font-size: .9rem;

    }

    #footer h5 {
        font-size: .5rem;
        color:hsl(40, 14%, 96%);
    }

    #footer h6 {
        font-size: .5rem;

    }

    .keyboard_key button {
        width: 25px;
        height: 25px;

    }
}

@media (min-width: 376px) {
    .image-header img {
        width: 100px;
        height: 100px;
       
    }

    audio {
        padding: .7rem;
    }

   
    #begin a, #begin button, #try_again button {
        font-size: 1rem;
    }

    .keyboard_key button {
        width: 30px;
        height: 30px;

    }

}

@media (min-width: 426px) {

   #begin h1 {
    font-size: 3rem;
   }
    #begin a, #begin button, #try_again button {
        margin: 3px;
    }


}

@media (min-width: 768px) {

    header {
        margin-bottom: 3rem;
    }

    #begin h2 {
        font-size: 2rem;
        color:rgb(240, 249, 250)
    }

    .image-header img {
        width: 180px;
        height: 180px;
        margin-left: 80px;
       
    } 

    audio {
        margin-top:3rem;
        padding: .9;
     
    }

   
    #begin h1 {
        font-size:7rem;
    }

    #begin a, #begin button,  #try_again button, .button-word  button{
        font-size: 1.8rem;
        margin: 20px;
        padding: 1.3rem;
        margin-top: 5rem;
    }


    #new_word h5 {
        font-size:1.2rem;
    }

    #add_word {
        display: flex;
    }
    
    .write_word {
       display:flex;
      
    }

    .input {
        padding: 3rem;
    }
    .text-input {
        /* Digite seu texto */
    
      width: 600px;
      height: auto;
      top: 200px;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 150%;
      justify-content: center;
      border: none;
      color: #fbfdff;
      background: transparent;
      border: none;
    
    text-transform:uppercase;
    
    }
    
    ::placeholder { 
       color: #f5f6f7; 
       text-align: center;
       text-transform:lowercase;
    
    }
    
    .text-input:focus { 
       border: none;
       outline: none;
    
    }

    .keyboard_key button {
        width: 60px;
        height: 60px;
        font-size:2.3rem;

    }


    #footer p {
       font-size:1.7rem;
    }

    #footer img {
        width: 4%;
     }

     #footer h5 {
        font-size: 1rem;
        color:rgb(246, 221, 204);
      }

     #footer h6 {
       font-size: .8rem;
     }

}
