* {
font-family: "Inter", sans-serif;
margin: 0;
box-sizing:border-box;
width: 100%;

}

body{

margin-top: 10px;
background-image: url(./image/background.jpg);
background-size: cover;
height: 100%;
background-repeat: no-repeat;
font-family: Inter, sans-serif;
}


.image-header img {
    width: 150px;   
    height: 150px;

}

#try_again, .begin-start, .button-word {
  
    display: flex;
    justify-content: center;
}


/*-- mobile first*/

.image-header img {
    width: 100px;   
    height: 100px;
   margin-left: 50px;
}

#hangman{
  height:320px;
  width:486px;

}

#container {
    text-align: center;
  
}

#begin p {
    padding: 5rem 0 10rem 0;
    color:hsl(210, 40%, 98%) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}

#new_word p {
    padding: 80px;
    text-align: center;
}

#new_word h5 {
    padding: 20px;
    color:#156597;
}



#begin a, #begin button, #new_word,.new_game, .game_over, .button-word button{
    box-shadow: 0px 2px 8px rgb(173, 81, 16); 
    border-radius: 5px;
    border: 2px solid rgb(173, 81, 16); 
    background-color: #599baf;
    color: #fafafa;
    font-weight: 600;
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
    width: 20%;   
    
    
}

#add_word {
    display: flex;
    
}

.button-word {
    
}


#begin a:hover, #begin button:hover, #try_again button:hover, .button-word button:hover {
    transform: scale(1.1);
   border: rgb(248, 246, 245); 
    
}

 

/*kEYBOARD */
.keyboard_key button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgb(198, 87, 8);
    border-radius: 5px;
    border: 2px solid rgb(198, 87, 8); 
    color:rgb(14, 133, 219);
    font-family: Inter;
    font-weight: 900;
}

.keyboard_key button:hover {
    transform: scale(1.3);
    
}

/*FOOTER */



#footer {
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
     margin:0;
      
}

#footer p {
    font-size: .8rem;
    color: #116ca4;
    

}


#footer a {
    text-decoration: none;
    font-family: .8rem;
}


#footer img {
    width: 30px;
    padding-top: 0.5rem; 
}

#footer h5 {
    color:#10405d;
    font-size: 0.6rem;
}

#footer h6 {
    color:#092231;
    font-size: 0.5rem;
}

@media (min-width: 321px) {
    .image-header img {
        width: 80px;
        height: 80px;
    }

    #begin p {
        font-size: 1.2em;

    }

    #begin a, #begin button {
        font-size: 1em;

    }

    .keyboard_key button {
        width: 25px;
        height: 250x;

    }
}

@media (min-width: 376px) {
    .image-header img {
        width: 100px;
        height: 100px;
       
    }

    #begin p {
        font-size: 1.3rem;

    }

    #new_word p {
        font-size: 1.3rem;

    }

    #new_word h5 {
        font-size: 1rem;
    }

    #begin a, #begin button, #try_again button {
        font-size: 1rem;
    }

    .keyboard_key button {
        width: 30px;
        height: 30px;

    }

}

@media (min-width: 426px) {

    #begin p, #new_word p {
        font-size:1.5rem;
    }

    #begin a, #begin button, #try_again button {
        margin: 3px;
    }

}

@media (min-width: 768px) {

    .image-header img {
        width: 150px;
        height: 150px;
        margin-left: 100px;
       
    } 

   
    #begin p {
        font-size:7rem;
    }


    #begin a, #begin button,  #try_again button, .button-word  button{
        font-size: 1.3rem;
        margin: 8px;
        padding: .8rem;
    }

    
    .input {
        padding: 3rem;
    }
    .text-input {
        /* Digite seu texto */
 
   width: 600px;
   height: auto;
   top: 200px;
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 150%;
   justify-content: center;
   border: none;
   color: #fbfdff;
   background: transparent;
   border: none;

   text-transform:uppercase;
   }
   
   ::placeholder { 
   color: #f5f6f7; 
   text-align: center;
   text-transform:lowercase;

   }
 
 .text-input:focus { 
     border: none;
     outline: none;
   }


    #new_word h5 {
        font-size:1.2rem;
    }

    #add_word {
        display: flex;
    }
    
    .write_word {
        display:flex;
      
    }

    .keyboard_key button {

        width: 50px;
        height: 50px;
        font-size:1.8rem;
        margin-top: 0;

    }

    #footer {
        
        padding-top: 2rem;
        margin-bottom:0;
        background-color: #0b5b69;
        width: 100%;
        margin-top: 5rem;
        
    }

    #footer p {
        font-size: 1.6rem;
        font-weight: bold;
        color: rgb(250, 200, 166);
        width: 100%;
 
    }

    #footer img {
        width: 50px;
        padding-top: 0.5rem; 
    }

    #footer h5 {
        color:rgb(246, 221, 204);
        font-size: .8rem;
    }

    #footer h6 {
        color: #e7f4fc;  
        padding-top: .5rem;
        font-size: .7rem;
    }

}
